<!-- Esta es la pantalla del plan de estudios-->
<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="logo.svg">
        <title>Plan de Estudios IID Tec 21</title>
        <link rel="stylesheet" href="style/style.css">
    </head>
    <body>
        <header>
            <link rel="Tab icon" href="logoTab.ico">
            <a href="index.html"><img src="logo.svg" alt="i2d logo" width=5% height=5%></a>
            <nav>
            <p>
                <a href="index.html" class="selected">Plan de estudios</a>
                <a href="requisitos.html">Requisitos de graduación</a>
                <a href=".html">Cuenta</a>
                <a href="">Salir</a>
            </p>
            </nav>
        </header>
        <main>
            <h1>Bienvenid@, [Nombre]</h1>
          <section>
            <div>
              <button type="button" class="Agregar-periodo">Agregar periodo</button> 
              <button type="button" class="Guardar-cambios">Guardar cambios</button> 
              <button type="button" class="Revertir-cambios">Revertir cambios</button> 
            </div>
          <div>
            <ul class="PlanDeEstudios">
            <!-- ngRepeat: periodo in periodos -->
              <li class="periodoagosto-diciembre" ng-repeat="periodo in periodos" info="periodo" ingreso="ingreso">
                <h2 class="center ng binding">AD2021</h2>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
              </li>
              <!-- ngRepeat: periodo in periodos -->
              <li class="periodofebrero-junio" ng-repeat="periodo in periodos" info="periodo" ingreso="ingreso">
                <h2 class="center ng binding">FJ2022</h2>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
              </li>
              <!-- ngRepeat: periodo in periodos -->
              <li class="periodoagosto-diciembre" ng-repeat="periodo in periodos" info="periodo" ingreso="ingreso">
                <h2 class="center ng binding">AD2022</h2>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
                <!-- ngRepeat: materia in periodo.materias -->
                <ul class="materias ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable" ui-sortable="$root.sortableOptions" ng-model="periodo.materias">
                  <li class="materiaFija" ng-repeat="materia in periodo.materas" info="materia" index="$index">
                    <p class="clave">
                      <a class="ng-binding" ng-click="editar()">EG1001</a>
                    </p>
                    <p class="nombre ng-binding">Optativa de matemáticas y ciencias</p>
                    <p class="unidades ng-binding" ng-show="materia.unidades">U: 3</p>
                  </li>
                </ul>
              </li>
              
            </ul>
          </div>
          </section>
        </main>
        <footer>
            <p>Gabriela Vallín Romo, Nery Ivan Castillo Arrivillaga, Andrea Cázares Villarreal, Rodrigo David Flores Montero, Ximena Garza Tirado, José Renato Meléndez Astorga. 2023.</p>
        </footer>
        </footer>
    </body>
</html>
